<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2023 TwinMarket </p>
			</div>
			<div class="col-md-10 text-md-center">
				<span  class="px-2">ashutosh.pathak1996@gmail.com</span>
				<span  class="px-2">Prof. Makarand S Kulkarni</span>
				<span  class="px-2">Department of Mechanical Engineering, IIT Bombay</span>
			</div>
			
		</section>
	</div><!-- //container -->
</footer>