{% extends 'baseinterface.html' %}
 

{% block content %}
{% csrf_token %}
<div class="container">
    <div class="row">
      <div class="col-2 sidebar" style="height: calc(100vh - 73px) ; overflow-y : scroll; position: sticky; top: 73px">
          <h5 class = " mt-4"> Connected Twins </h5> <hr>

          <div class="list-group">
            {% for twin in registered_models_connected %}
            <a href="{% url 'livecontentbox' id=twin.id %}" class="list-group-item list-group-item-action ">
              {{twin.display_name}}
            </a>
            {% endfor %}
          </div>        
      </div>

      <!-- Digital representation div.// -->
      <div class="col border border-primary" style="height: calc(100vh - 73px) ; overflow-y : scroll; position: sticky; top: 73px">
        {% block livecontent %}
        
        {% endblock %}
      </div>



    </div>

  </div>
{% endblock %}