{% extends 'baseinterface.html' %}
 

{% block content %}
{% csrf_token %}
<div class="container">
    <div class="row">
      <div class="col-3" style="height: calc(100vh - 73px) ; overflow-y : scroll; position: sticky; top: 73px">
          <h5 class = " mt-4"> Connected Twins </h5> <hr>

        <div class="list-group">
            {% for twin in registered_models_connected %}
            <a href="{{twin.get_absolute_url}}" class="list-group-item list-group-item-action ">
              {{twin.display_name}}
            </a>
            {% endfor %}
          </div>       
      </div>

      <!-- Digital representation div.// -->
      <div class="col-9 border border-primary" style="height: calc(100vh - 73px) ; overflow-y : scroll; position: sticky; top: 73px">
        <h5 class = " mt-4 text-center"> Twin Data </h5> <hr>
        {% block datacontent %}
        
        {% endblock %}

      </div>



    </div>

  </div>
{% endblock %}